<div class="bg-slate-200 flex flex-wrap flex-col items-center border-2 border-gray-400  my-2 rounded mx-10 inline-block min-w-min min-h-min">
  <div class="flex-initial h-5 m-3 inline-block min-w-min min-h-min">
    <h1 class="text-gray-500 text-3xl font-mono font-bold "><%= @product.name%></h1>
  </div>
  <div class="flex-initial h-6 m-3 inline-block min-w-min min-h-min">
    <p class="text-xl">Description: <%= @product.description %></p>
  </div>
  <div class="flex-initial h-6 m-3 inline-block min-w-min min-h-min">
    <p class="text-xl text-orange-500">PHP <%= @product.price %></p>
  </div>
  <div class="flex-initial h-6 inline-block min-w-min min-h-min">
    <p class="text-sm">Stocks Left: <%= @product.quantity %></p>
  </div>


  <div class="flex-initial h-8 m-2 inline-block min-w-min min-h-min">
    
    
    <% if user_signed_in? && current_user.role_id == 1 %>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
      <%= link_to "Edit", edit_product_path %>
      </button>
    
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">

      <%= link_to "Destroy", product_path(@product), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %> <br>
      </button>

      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
        <%= link_to "Return", products_path %>
      </button>

    <% elsif user_signed_in? && current_user.role_id == 2 %>  
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
        <%= link_to "Return", products_path %>
      </button>
      <%# <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"> %>
        <%= button_to "Add to cart", add_item_cart_path(product_id: @product.id), method: :post %>


      <%# </button> %>
    <% else %>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full ">
        <%= link_to "Return", products_path %>
      </button>
    <% end %>
    
  </div>
</div>

