<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"%>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload"  %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/nav" %>
    
    
    <div class="relative">
    <div class="flex justify-center text-xl bg-transparent bg-opacity-0 ">
      <p class="notice bg-transparent "><%= notice %></p>
      <p class="alert bg-transparent text-red-500"><%= alert %></p>
    </div>
    <%= yield %>
    </div>  
    
  </body>
</html>
